Artifacts
/Library
/Temp
Debug
Logs
.vs
UserSettings
/apk/*.apk
Executable
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor-firstpass.csproj
WebRelease
/Assets/Video/PaletteRunDemoVid.mp4
